path.data: /var/lib/opensearch
path.logs: /var/log/opensearch

cluster.name: ocluster1
network.host: 0.0.0.0
http.port: 9200

discovery.type: single-node
node.name: ${HOSTNAME}

plugins.security.disabled: true
plugins.security.ssl.http.enabled: false
